#loginform{
    margin-top: 10px;
    margin-bottom: 282px;
    
}
#bodybg{
    background-image: url(/images/bglogin.jpg);
 
}

#loginbtn{
    margin-left:200px;
}
#loginh{
   
    margin-left: 380px;
    margin-bottom: 20px;
}
#joinus{
    color: white;
    margin-left: 10px;
    padding-top: 0px;
}
#forgot{
    color:orange;
    margin-top: -550px;
    margin-left: 174px;
}
#remberme{
    margin-left: -60px;
}
#memb{
    margin-left: 40px;
}